.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .divider-text span {
        padding: 7px;
        font-size: 12px;
        position: relative;
        z-index: 2;
    }

    .divider-text:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #ddd;
        top: 55%;
        left: 0;
        z-index: 1;
    }

.flex-button {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.btn-google {
    width: 50%;
    padding: 10px;
    background-color: #4285F4;
    color: #fff;
}

.btn-facebook {
    width: 50%;
    padding: 10px;
    background-color: #405d9d;
    color: #fff;
}
